.main-slider {
    /* background-image: linear-gradient(0deg,red, green 80%); */
    /* background-color: red; */
    height: 80vh;
    width:100%;
    
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
   /* display: grid; 
   place-items: center; */
    /* grid-template-columns: 5rem 1fr 5rem;  */
    /* grid-column: 2/3; */

}

.header-sub {
    /* position: relative; */
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    grid-template-columns: 1.5rem 1fr 1.5rem;
    /* display: grid;
    grid-column: 2/3; */

}

.sub {
    /* position: relative; */
    display: grid;
    grid-column: 2/3;
    width: 95%;
    /* background-color: yellow; */
    height: 100%;

}

.overlay-header {
    display: flex;
    flex-direction: column-reverse;
    /* background-color: green; */
    height: 50%;
    width: 100%;
}

.overlay {
    position: absolute;
    padding: 5rem;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    height: 70%;
    width: 80%;
    /* background-image: linear-gradient(rgb(0, 0, 0, 0), rgb(0, 0, 0, 1)); */
 
    opacity: 1;
    transition: opacity .3s;
    /* background-color: brown; */
}

#col-rvrs {
    /* flex-direction: column-reverse; */
}

.poster {
    /* background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; */
    /* border-radius: 10px; */
    background-color: black;
    opacity: 0.8;
    object-fit: cover;
    height: 86vh;
    width:100%;
}

.posterImage_title {
    font-weight: 900;
    font-size: 3rem;
    margin-bottom: 0.4rem;
    text-align: left;
}

.posterImage_runtime {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}



.posterImage_rating {
    margin-left: 3rem;
}

.posterImage_description {
    font-style: italic;
    font-size: 0.8rem;
    margin-bottom: 0.25rem;
    display: flex;
    text-align: left;
    width: 50%;
}

@media screen and(max-width: 710px ) {
    .main-slider{
        height: 50vh;       
    }
    /*  .header-sub{
        height: 50vh;
    }
   .sub{
        height: 100%;
    }  */
     /*.poster {
        height: 50vh;
    }  
   .overlay{
        height:70%;
    }
    .overlay-header{
        height:100%;
    } */
}